In [1]:
import pandas as pd
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [2]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.499309  0.646461  0.306413
1  0.607377  0.970556  0.132435
2  0.406009  0.370329  0.482833
3  0.026334  0.306513  0.694957
4  0.650292  0.547782  0.966550

          0         1         2
0  0.015248  0.162400 -0.177648
1  0.037254  0.400433 -0.437687
2 -0.013715 -0.049395  0.063110
3 -0.316268 -0.036088  0.352356
4 -0.071249 -0.173759  0.245008

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)