In [1]:

import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler

In [21]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:

# train.Sex = train.Sex.map({'female':0,'male':1})

In [22]:
#female 0
women = train.loc[train.Sex == "female"]["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [23]:
#male is 1 
man = train.loc[train.Sex == "male"]["Survived"]
rate_man = sum(man)/len(man)

print("% of man who survived:", rate_man)

% of man who survived: 0.18890814558058924

In [31]:
full = pd.concat([train, test], ignore_index=True)

In [32]:
full.isna().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [33]:
full[['Age']].describe()

               Age
count  1046.000000
mean     29.881138
std      14.413493
min       0.170000
25%      21.000000
50%      28.000000
75%      39.000000
max      80.000000

In [36]:
full['Age'] = full['Age'].apply(pd.to_numeric)

In [40]:
full[['Age']].describe()

               Age
count  1046.000000
mean     29.881138
std      14.413493
min       0.170000
25%      21.000000
50%      28.000000
75%      39.000000
max      80.000000