In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm

da = pd.read_csv("nhanes_2015_2016.csv")

In [2]:
da

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5730,93695,2.0,2.0,NaN,1,2,76,3,1.0,3.0,...,112.0,46.0,59.1,165.8,21.5,38.2,37.0,29.5,95.0,2.0
5731,93696,2.0,2.0,NaN,2,1,26,3,1.0,5.0,...,116.0,76.0,112.1,182.2,33.8,43.4,41.8,42.3,110.2,2.0
5732,93697,1.0,NaN,1.0,1,2,80,3,1.0,4.0,...,146.0,58.0,71.7,152.2,31.0,31.3,37.5,28.8,NaN,2.0
5733,93700,NaN,NaN,NaN,1,1,35,3,2.0,1.0,...,106.0,66.0,78.2,173.3,26.0,40.3,37.5,30.6,98.9,2.0
5734,93702,1.0,NaN,2.0,2,2,24,3,1.0,5.0,...,114.0,68.0,58.3,165.0,21.4,38.2,33.5,26.2,72.5,2.0

In [5]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [6]:
da_f=da.loc[((da["RIDAGEYR"]>35) & (da["RIDAGEYR"]<50))]
da_f.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0
10,83747,1.0,NaN,1.0,1,1,46,3,1.0,5.0,...,150.0,90.0,86.2,176.7,27.6,41.0,38.0,33.6,104.3,2.0
11,83750,1.0,NaN,3.0,1,1,45,5,1.0,2.0,...,108.0,72.0,76.2,177.8,24.1,43.9,37.8,33.0,90.1,NaN
20,83769,1.0,NaN,2.0,2,1,49,5,1.0,2.0,...,106.0,68.0,72.8,170.7,25.0,42.8,40.0,31.5,96.6,2.0
34,83799,NaN,NaN,NaN,2,2,37,2,1.0,4.0,...,110.0,72.0,66.6,161.6,25.5,NaN,NaN,NaN,NaN,2.0

In [8]:
da_f["DMDMARTL"].head(10)

4     3.0
10    6.0
11    5.0
20    1.0
34    1.0
42    1.0
50    1.0
55    1.0
58    5.0
61    1.0
Name: DMDMARTL, dtype: float64

## Question 1

Restrict the sample to women between 35 and 50, then use the marital status
variable [DMDMARTL](https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/DEMO_I.htm#DMDMARTL) to partition this
sample into two groups - women who are currently married, and women who are not currently married.
 Within each of these groups, calculate the proportion of women who have completed college.
 Calculate 95% confidence intervals for each of these proportions.

In [9]:
# enter your code here
da["DMDMARTLx"]=da.DMDMARTL.replace({1: "married", 2: "Not married", 5: np.nan,3:np.nan,6:np.nan,4:np.nan})
da["RIAGENDRx"] = da.RIAGENDR.replace({1: "Male", 2: "Female"})
da["SMQ020x"] = da.SMQ020.replace({1: "Yes", 2: "No", 7: np.nan, 9: np.nan})

<ipython-input-9-a1ae47b2ead8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da["DMDMARTLx"]=da.DMDMARTL.replace({1: "married", 2: "Not married", 5: np.nan,3:np.nan,6:np.nan,4:np.nan})
<ipython-input-9-a1ae47b2ead8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da["RIAGENDRx"] = da.RIAGENDR.replace({1: "Male", 2: "Female"})
<ipython-input-9-a1ae47b2ead8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da["SMQ020x"] = da.SMQ020.replace({1: "Yes", 2: "No", 7: np.nan, 9: np.nan})

In [11]:
da_f=da_f.loc[da_f["RIAGENDRx"]=="Female" ]  #data frame for female and maried not married 
da_f

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210,DMDMARTLx,RIAGENDRx,SMQ020x
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,164.9,20.3,37.4,36.0,27.2,80.4,2.0,NaN,Female,No
34,83799,NaN,NaN,NaN,2,2,37,2,1.0,4.0,...,161.6,25.5,NaN,NaN,NaN,NaN,2.0,married,Female,No
50,83828,1.0,NaN,2.0,2,2,39,1,2.0,3.0,...,162.0,27.2,36.8,34.6,29.1,94.6,NaN,married,Female,No
55,83837,2.0,2.0,NaN,2,2,45,1,1.0,2.0,...,148.3,35.2,30.5,34.0,34.4,107.6,2.0,married,Female,No
58,83845,1.0,NaN,NaN,1,2,44,4,1.0,1.0,...,171.5,45.3,37.3,35.7,48.7,NaN,2.0,NaN,Female,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5627,93516,NaN,NaN,NaN,2,2,43,2,1.0,4.0,...,165.3,30.3,38.8,38.8,32.2,102.2,NaN,married,Female,No
5658,93568,1.0,NaN,1.0,1,2,46,3,1.0,2.0,...,152.4,36.8,26.0,33.5,34.7,116.5,2.0,NaN,Female,Yes
5685,93612,2.0,2.0,NaN,2,2,36,5,1.0,5.0,...,162.4,24.9,37.2,36.0,29.8,89.0,2.0,married,Female,No
5689,93619,NaN,NaN,NaN,2,2,44,5,2.0,2.0,...,149.3,23.3,31.9,32.0,26.2,81.4,1.0,married,Female,No
5724,93682,NaN,NaN,NaN,2,2,41,5,1.0,5.0,...,166.9,20.9,37.1,35.3,26.9,80.8,2.0,married,Female,No

In [12]:
dx_f = da_f[["DMDMARTLx", "RIAGENDRx"]].dropna()
pd.crosstab(dx_f.DMDMARTLx, dx_f.RIAGENDRx)

RIAGENDRx    Female
DMDMARTLx
Not married      12
married         392

In [13]:
dz_f = dx_f.groupby(dx_f.RIAGENDRx).agg({"DMDMARTLx": [lambda x: np.mean(x=="married"), np.size]})
dz_f.columns = ["Proportion", "Total_n"] # The default column names are unclear, so we replace them here
dz_f

           Proportion  Total_n
RIAGENDRx
Female       0.970297      404

__Q1a.__ Identify which of the two confidence intervals is wider, and explain why this is the case.

__Q1b.__ Write 1-2 sentences summarizing these findings for an audience that does not know what a confidence interval is (the goal here is to report the substance of what you learned about how marital status and educational attainment are related, not to teach a person what a confidence interval is).

## Question 2

Construct 95% confidence intervals for the proportion of smokers who are female, and for the proportion of smokers who are male.  Then construct a 95% confidence interval for the difference between these proportions.

In [14]:
# enter your code here
dx_m = da[["SMQ020x", "RIAGENDRx"]].dropna()  # dropna drops cases where either variable is missing
pd.crosstab(dx_m.SMQ020x, dx_m.RIAGENDRx)

RIAGENDRx  Female  Male
SMQ020x
No            509   300
Yes           188   270

In [15]:
dz = dx_m.groupby(dx_m.RIAGENDRx).agg({"SMQ020x": [lambda x: np.mean(x=="Yes"), np.size]})
dz.columns = ["Proportion", "Total_n"] # The default column names are unclear, so we replace them here
dz

           Proportion  Total_n
RIAGENDRx
Female       0.269727      697
Male         0.473684      570

__Q2a.__ Discuss why it may be relevant to report the proportions of smokers who are female and male, and contrast this to reporting the proportions of males and females who smoke.

__Q2b.__ How does the width of the confidence interval for the difference of the two proportions compare to the widths of the confidence intervals for each proportion separately?

## Question 3

Construct a 95% interval for height ([BMXHT](https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/BMX_I.htm#BMXHT)) in centimeters.  Then convert height from centimeters to inches by dividing by 2.54, and construct a 95% confidence interval for height in inches.  Finally, convert the endpoints (the lower and upper confidence limits) of the confidence interval from inches to back to centimeters

In [ ]:
# enter your code here

__Q3a.__ Describe how the confidence interval constructed in centimeters relates to the confidence interval constructed in inches.

## Question 4

Partition the sample based on 10-year age bands, i.e. the resulting groups will consist of people with ages from 18-28, 29-38, etc. Construct 95% confidence intervals for the difference between the mean BMI for females and for males within each age band.

In [ ]:
# enter your code here

__Q4a.__ How do the widths of these confidence intervals differ?  Provide an explanation for any substantial diferences in the confidence interval widths that you see.

## Question 5

Construct a 95% confidence interval for the first and second systolic blood pressure measures, and for the difference between the first and second systolic blood pressure measurements within a subject.

In [ ]:
# enter code here

__Q5a.__ Based on these confidence intervals, would you say that a difference of zero between the population mean values of the first and second systolic blood pressure measures is consistent with the data?


__Q5b.__ Discuss how the width of the confidence interval for the within-subject difference compares to the widths of the confidence intervals for the first and second measures.

## Question 6

Construct a 95% confidence interval for the mean difference between the average age of a smoker, and the average age of a non-smoker.

In [ ]:
# insert your code here

__Q6a.__ Use graphical and numerical techniques to compare the variation in the ages of smokers to the variation in the ages of non-smokers.

In [1]:
# insert your code here

__Q6b.__ Does it appear that uncertainty about the mean age of smokers, or uncertainty about the mean age of non-smokers contributed more to the uncertainty for the mean difference that we are focusing on here?